.bvt__stopalert {
  color: #ffb142;
  font-weight: bolder;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.bvt__stopalert__icon {
  width: 1.3em;
}

.bvt__entries {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.bvt__entry {
  display: flex;
  gap: 0.5em;
}

.bvt__number {
  width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff793f;
}

.bvt__info {
  flex: 1;
  align-self: center;
}

.bvt__info--strikethrough {
  text-decoration: line-through;
}

.bvt__info--cancelled {
  color: #ff5252;
  font-weight: bold;
}

.bvt__info__subheader {
  font-style: italic;
}

.bvt__info__subheader--alert {
  font-style: normal;
  color: #ffb142;
}

.bvt__info__time {
  font-weight: bold;
  margin-right: 0.4em;
}

.bvt__info__time--strikethrough {
  text-decoration: line-through;
  font-weight: normal;
}

.bvt__info__time--late {
  color: #ff5252;
}

.bvt__time {
  text-align: right;
  align-self: center;
  color: #33d9b2;
}

.bvt__time--late {
  color: #ff5252;
}

.bvt__time--cancelled {
  color: #ff5252;
  text-decoration: line-through;
}
